@import url(https://fonts.googleapis.com/css?family=Oswald);

body
{
	background-image: url("swirl_pattern.png");
    background-attachment: fixed;
}

header
{
	width: 700px;
	text-align: center;
	font-family: 'Oswald', arial;
	margin-left: 220px;
}

p
{
	border: 1px solid silver;
	background-color: white;
	border-radius: 4px;
	margin-left: 350px;
	padding: 20px;
	width: 400px;
	margin-top: 80px;
	text-align: center;
}

footer
{
	text-align: center;
}